body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_desktop___5_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__desktop___5_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:#;
}

#pages {
	top: 61px;
	left: 51px;
	width: 1340px;
	height: 898px;
}
#right_page {
	top: 1px;
	left: 670px;
	width: 670px;
	height: 897px;
}

#right_page_ek1 {
	top: 0px;
	left: 0px;
	width: 672px;
	height: 899px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	border: 1px solid #000000;
	background:rgba(255,251.98,232.69,1);
}

#left_page {
	top: 0px;
	left: 0px;
	width: 670px;
	height: 897px;
}

#left_page_ek1 {
	top: 0px;
	left: 0px;
	width: 672px;
	height: 899px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 1px solid #000000;
	background:rgba(255,251.98,232.69,1);
}


#green_ellipse {
	top: 649px;
	left: 1058px;
	width: 282px;
	height: 249px;
}


#red_circle {
	top: 0px;
	left: 0px;
	width: 253px;
	height: 232px;
}


#spiral {
	top: 400px;
	left: 217px;
	width: 871px;
	height: 102px;
}


#mr__john_doe {
	top: 716px;
	left: 233px;
	width: 331px;
	height: 126px;
	overflow: hidden;
	font-family: Caveat;
	font-size: 64px;
	text-align: center;
	color:#000000;
}


#__i_m_the_average_person_the_world_wants_right_now_ {
	top: 805px;
	left: 177px;
	width: 439px;
	height: 115px;
	overflow: hidden;
	font-family: Caveat;
	font-size: 36px;
	text-align: center;
	color:#000000;
}


#about {
	top: 132px;
	left: 808px;
	width: 145px;
	height: 110px;
	overflow: hidden;
	font-family: Caveat;
	font-size: 56px;
	text-align: center;
	color:#000000;
}


#i_am_a_simple_imaginary_person_living_inside_the_computer_and_my_name_has_been_used_by_may_people_as_the_standard_name_for_various_sectors_including_law_enforcements_to_name_an_unidentified_body {
	top: 202px;
	left: 817px;
	width: 537px;
	height: 306px;
	overflow: hidden;
	font-family: Caveat;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#work_experience {
	top: 506px;
	left: 808px;
	width: 348px;
	height: 110px;
	overflow: hidden;
	font-family: Caveat;
	font-size: 56px;
	text-align: center;
	color:#000000;
}


#your_special_someone_ {
	top: 642px;
	left: 808px;
	width: 460px;
	height: 110px;
	overflow: hidden;
	font-family: Caveat;
	font-size: 56px;
	text-align: center;
	color:#000000;
}


#worked_at_lorem_ipsum_university {
	top: 574px;
	left: 811px;
	width: 443px;
	height: 70px;
	overflow: hidden;
	font-family: Caveat;
	font-size: 36px;
	text-align: center;
	color:#000000;
}


#jane_doe {
	top: 710px;
	left: 821px;
	width: 150px;
	height: 70px;
	overflow: hidden;
	font-family: Caveat;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#your_profile {
	top: 132px;
	left: 265px;
	width: 286px;
	height: 126px;
	overflow: hidden;
	font-family: Caveat;
	font-size: 64px;
	text-align: center;
	color:#000000;
}


#profile_photo {
	top: 277px;
	left: 201px;
	width: 398px;
	height: 393px;
}
