/*
	@name desktop___13
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; background-image: url("/skins/bg.png"); background-size:cover; padding: 0px; font-family:"Arial"; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; height: 1440px; weight: 1024px; display: block; margin-left: auto; margin-right: auto;  }

#page_desktop___10_ek1 {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#_bg__desktop___10_ek2 {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/* height: 1024px; */
	background:#;
}

#bookmark_ek3 {
	top: 3.02%;
	left: 81.52%;
	width: 13.4%;
	height: 25.29%;
}

#pages_ek3 {
	top: 9.7%;
	left: 6.3%;
	width: 87.26%;
	height: 80.7%;
}
#right_page_ek4 {
	top: 0%;
	left: 43.6%;
	width: 43.6%;
	height: 80.6%;
}

#right_page_ek5 {
	top: 0%;
	left: 0%;
	width: 43.7%;
	height: 80.6%;
	border-top-right-radius:  25px;
	border-bottom-right-radius: 25px;
	
	/* -ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg); */
	border: 1px solid #000000;
	background:rgba(255,251.98,232.69,1);
}


#ellipse_25_ek3 {
	top: 53.6%;
	left: 22.3%;
	width: 21.25%;
	height: 27%;
}

#left_page_ek4 {
	top: 0%;
	left: 0%;
	width: 43.6%;
	height: 80.3%;
}

#left_page_ek5 {
	top: 0px;
	left: 0px;
	width: 629.85px;
	height: 824.77px;
	border-top-left-radius:  25px;
	border-bottom-left-radius: 25px;
	/* -ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px; */
	border: 1px solid #000000;
	background:rgba(255,251.98,232.69,1);
}


#spiral_ek1 {
	top: 365px;
	left: 212px;
	width: 798.92px;
	height: 95.58px;
}


#green_ellipse_ek3 {
	top: 596px;
	left: 992px;
	width: 264.26px;
	height: 228.39px;
}


#red_circle_ek3 {
	top: 2px;
	left: 0px;
	width: 248px;
	height: 212px;
}


#choose_a_branch {
	top: 175px;
	left: 785px;
	width: 515px;
	height: 136px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 60px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #001d4a;
	color:#000000;
}

#years {
	top: 299px;
	left: 217px;
	width: 377px;
	height: 530px;
}
#frame_19 {
	top: 0px;
	left: 0px;
	width: 129px;
	height: 78px;
}

#_2023 {
	top: 17px;
	left: 26px;
	width: 87px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#group_20 {
	top: 0px;
	left: 245.56px;
	width: 131.44px;
	height: 72.68px;
}

#rectangle_48 {
	top: 0px;
	left: 0px;
	width: 131.44px;
	height: 72.68px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(12,83,155,1);
}


#_2022 {
	top: 15px;
	left: 26px;
	width: 89.29px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#group_21 {
	top: 152.44px;
	left: 0px;
	width: 131.44px;
	height: 72.68px;
}

#rectangle_49 {
	top: 0px;
	left: 0px;
	width: 131.44px;
	height: 72.68px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(12,83,155,1);
}


#_2021 {
	top: 15px;
	left: 28px;
	width: 86.23px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#group_22 {
	top: 152.44px;
	left: 245.56px;
	width: 131.44px;
	height: 72.68px;
}

#rectangle_50 {
	top: 0px;
	left: 0px;
	width: 131.44px;
	height: 72.68px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(12,83,155,1);
}


#_2020 {
	top: 15px;
	left: 25px;
	width: 92.34px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#group_23 {
	top: 304.88px;
	left: 0px;
	width: 131.44px;
	height: 72.68px;
}

#rectangle_51 {
	top: 0px;
	left: 0px;
	width: 131.44px;
	height: 72.68px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(12,83,155,1);
}


#_2019 {
	top: 15px;
	left: 26px;
	width: 89.29px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#group_24 {
	top: 304.88px;
	left: 245.56px;
	width: 131.44px;
	height: 72.68px;
}

#rectangle_52 {
	top: 0px;
	left: 0px;
	width: 131.44px;
	height: 72.68px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(12,83,155,1);
}


#_2018 {
	top: 15px;
	left: 26px;
	width: 90.31px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#group_25 {
	top: 457.32px;
	left: 0px;
	width: 131.44px;
	height: 72.68px;
}

#rectangle_53 {
	top: 0px;
	left: 0px;
	width: 131.44px;
	height: 72.68px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(12,83,155,1);
}


#_2017 {
	top: 15px;
	left: 27px;
	width: 87.25px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#group_26 {
	top: 457.32px;
	left: 245.56px;
	width: 131.44px;
	height: 72.68px;
}

#rectangle_54 {
	top: 0px;
	left: 0px;
	width: 131.44px;
	height: 72.68px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(12,83,155,1);
}


#_2016 {
	top: 15px;
	left: 26px;
	width: 89.29px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#next {
	top: 831px;
	left: 1228px;
	width: 103.08px;
	height: 64.21px;
}

#branches {
	top: 301px;
	left: 822px;
	width: 445px;
	height: 530px;
}
#frame_43 {
	top: 451.78px;
	left: 97.5px;
	width: 250px;
	height: 78px;
}

#civil_engineering {
	top: 17px;
	left: 26px;
	width: 208px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#frame_43_ek1 {
	top: 226px;
	left: 54.48px;
	width: 337px;
	height: 78px;
}

#mechanical_engineering {
	top: 17px;
	left: 26px;
	width: 295px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#frame_43_ek2 {
	top: 113.11px;
	left: 64.98px;
	width: 316px;
	height: 78px;
}

#electrical_engineering {
	top: 17px;
	left: 26px;
	width: 274px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#frame_41 {
	top: 338.89px;
	left: 45.5px;
	width: 354px;
	height: 78px;
}

#metallurgical_engineering {
	top: 17px;
	left: 26px;
	width: 312px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#frame_38 {
	top: 0.22px;
	left: 70.43px;
	width: 285px;
	height: 78px;
}

#computer_science {
	top: 17px;
	left: 26px;
	width: 243px;
	height: 65px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#choose_a_year {
	top: 175px;
	left: 157px;
	width: 515px;
	height: 136px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 60px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #001d4a;
	color:#000000;
}
