
body { margin: 0px; background-image: url("skins/bg.png"); background-size:cover; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_desktop___5_ek1 {
	
	width: 100%;
	height: 100%;
}

#bookmark_ek6 {
	top: 49px;
	left: 1154px;
	width: 194px;
	height: 259px;
}
#pages_ek8 {
	top: 5%;
	left: 6.38%;
    height: 70%;
    width: 87.24%;

}
#pages_ek9 {
    height: 80%;
    width: 87.24%;
}
#right_page_ek14 {
	top: 0px;
	left: 56.25%;
    height: 80%;
    width: 43.75%;
}

#right_page_ek15 {
	
	width: 629.85px;
	height: 153%;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	border: 1px solid #000000;
	background:rgba(255,251.98,232.69,1);
}


#ellipse_25_ek8 {
	top: 93%;
	left: 68%;
	width: 306px;
	height: 276.5px;
}
#left_page_ek14 {
	top: 0%;
    left: 0%;
    height: 80.8%;
    width: 43.75%;
}

#left_page_ek15 {
   
	width: 629.85px;
	height: 153%;
   
	
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 1px solid #000000;
	background:rgba(255,251.98,232.69,1);
}


#green_ellipse_ek8 {
	top: 83%;
	left: 985px;
	width: 264.26px;
	height: 228.39px;
}


#red_circle_ek8 {
	top: 0px;
	left: 0px;
	width: 248px;
	height: 212px;
}



#iiti_email_id_ek2 {
	top: 27%;
	left: 10%;
	width: 456px;
	height: 119px;
}

#info_fields {
	top: -10%;
	left: 5%;
	
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 30px;
	text-align: center;
	color:#000000;
}





#sign_up {
	top: 15%;
	left: 10%;
	width: 35%;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 300%;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #001d4a;
	color:#000000;
}


#sign_in {
	top: 15%;
	left: 54%;
	width: 35%;
	
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 300%;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #001d4a;
	color:#000000;
}

#username {
	top: 40%;
	left: 10%;
    width: 456px;
    height: 119px;
}




#rectangle_3 {
	top: 20%;
	left: 5%;
	width: 90%;
	height: 50%;
	-ms-border-radius: 52px;
	-o-border-radius: 52px;
	-moz-border-radius: 52px;
	-webkit-border-radius: 52px;
	border-radius: 52px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-ms-box-shadow:inset 0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:inset 0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:inset 0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:inset 0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:inset 0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
}

#password {
	top: 53%;
	left: 10%;
    width: 456px;
    height: 119px;
}






#username_ek2 {
	top: 27%;
	left: 55%;
	width: 456px;
	height: 119px;
}





#password_ek2 {
	top: 40%;
	left: 55%;
	width: 456px;
	height: 119px;
}







#create_account {
	top: 59%;
	left: 269.5px;
	width: 258px;
	height: 81px;
}

#create_account_ek1 {
	left: 26px;
	width: 219px;
	height: 71px;
	font-family: Indie Flower;
	font-size: 32px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #449aa6;
	color:#FFFFFF;
}

#submit_ek2 {
	top: 716.5px;
	left: 951px;
	width: 155px;
	height: 81px;
}

#submit_ek3 {
	top: 17px;
	left: 26px;
	width: 116px;
	height: 71px;
	overflow: hidden;
	font-family: Indie Flower;
	font-size: 32px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #2d5a9d;
	color:#FFFFFF;
}


#forgot_password_ {
	top: 48.5%;
    left: 57%;
    overflow: hidden;
    font-family: Indie Flower;
    font-size: 150%;
    text-align: center;
    color: #a89b9b;
}
#spiral_ek6{
    
   position:absolute;

   top: 11%;
left: 46.7%;




}
.btn{
    display: inline-block;
    text-decoration: none;
    background: olive;
    color: whitesmoke;
    padding: 0.5px 8px;
    margin: 25% 0;
    border-radius: 30px;
    transition:  background 0.5s;
}
.btn:hover{
    background: darkslategrey;
}
